#nav_menu ul { list-style-type: none; }
#nav_menu ul li { float: left; }
#nav_menu ul li a {
    text-align: center;
    display: block;
    width: 175px;
    padding: 1em 0;      /* padding above and below a
                            elements */
    text-decoration: none;
    background-color: blue;
    color: white;
    font-weight: bold;
    border-right: 2px solid white; }
#nav_menu ul li a.lastitem { border-right: none; }	
#nav_menu ul li a.current { color: yellow; }

aside ul{
    list-style-type: square;
}
aside ol{
    list-style-type:upper-roman;
}
article{
    clear: left;
}