article{
    clear: both;
    width: 75%;
    float: left;
    column-count: 3;
    column-rule: 2px dotted blue;
    column-gap: 2em;
    margin-left: 2em;
}


article p::first-letter{
    font-size: 3em;
    font-weight: bold;
    font-style: italic;
    color: black;

}
article h3{
    column-span: all;
}
aside{
    width: 20%;
    float: right;
    background-color: lightblue;
    padding: 0.1em 1em 1em;
    border: 2px blue;
}