article{
    clear: both;
    width: 75%;
    float: left;
    column-count: 3;
    column-rule: 2px dotted blue;
    column-gap: 2em;
    margin-left: 2em;
}


article p::first-letter{
    font-size: 3em;
    font-weight: bold;
    font-style: italic;
    color: black;

}
